<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context 
                           http://www.springframework.org/schema/context/spring-context.xsd">

<!--  
	Calc calc = new NewCalc();
	
	Calc cal =(Calc)Proxy.newProxyInstance(
			 				   calc.getClass().getClassLoader(), //실제 클래스 메타 정보
				               calc.getClass().getInterfaces() , //행위정보(인터페이스)
				               new LogPringHandler(calc)         //핸들러(보조관심) : 실객체의 주소넘김 
			 				   );
-->
	<bean id="calc" class="AOP_Spring_05.NewCalc" />
	<bean id="logPrintAroundAdvice"    class="AOP_Spring_05.LogPrintAroundAdvice"></bean>
	<bean id="logPrintBeforeAdvice"    class="AOP_Spring_05.LogPrintBeforeAdvice"></bean>
	<bean id="logPrintAfterAdvice"     class="AOP_Spring_05.LogPrintAfterAdvice"></bean>
	
	<bean id="proxy" class="org.springframework.aop.framework.ProxyFactoryBean">
		<property name="proxyInterfaces">
			<list>
				<value>AOP_Spring_05.Calc</value><!-- 인터페이스 행위 정보 -->
			</list>
		</property>
		<property name="target" ref="calc" /> <!-- 실객체의 주소 정보  -->
		<property name="interceptorNames">
			<list>
			<!-- 	<value>logPrintAroundAdvice</value>  --><!-- Bean 객체의 id 값 기술  -->
				<value>logPrintBeforeAdvice</value>
				<value>logPrintAfterAdvice</value>
			</list>
		</property>
	</bean>
	
</beans> 
