<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context 
                           http://www.springframework.org/schema/context/spring-context.xsd">

<!--  
	id = "m1"
	or
	name = "m1 , m2"
	
	SpringMvc 로 넘어오면 id, name (mapping 주소)
-->

<bean name="/hello.htm" class="kr.or.kosta.HelloController"></bean>
<bean name="/intro.htm" class="kr.or.kosta.IntroController"></bean>

<!-- ViewResolver 구현 : view 설정을 담당하는 클래스  
	org.springframework.web.servlet.view.InternalResourceViewResolver
-->
<bean id="internalResourceViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
	<property name="prefix">
		<value>/WEB-INF/view/</value>
	</property>
	<property name="suffix">
		<value>.jsp</value>
	</property>
</bean>
<!-- 
		   HelloController 에서 ....
		   ModelAndView mav = new ModelAndView();
		   mav.addObject("name","kglim");
		   mav.setViewName("hello");
		   
		   view 이름 : hello > ViewResolver 동작
		   >preffix + hello + suffix 조합
		   
		   result : /WEB-INF/view/hello.jsp
 -->
	
	
	
</beans> 
